.App {
  min-height: 100vh;
}

.container-centralized {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.color-prymary {
  background-color: #606562;
}
